# CLASSIC COLLECTION SOLAPUR - ADMIN PWA ENVIRONMENT VARIABLES TEMPLATE
# Add these in Vercel Project Settings -> Environment Variables.

# 1. WEB PUSH NOTIFICATIONS (VAPID KEYS)
VAPID_SUBJECT=mailto:classicbydominal@gmail.com
VAPID_PUBLIC_KEY=BFPUamUZsFMswRhmwXNa1lCFPcCLCaBLVN7R4Kuae6ZoVMoFsxNZePyhkTBvTDqp-PqlknIKn6H-NrZthA5JiU8
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BFPUamUZsFMswRhmwXNa1lCFPcCLCaBLVN7R4Kuae6ZoVMoFsxNZePyhkTBvTDqp-PqlknIKn6H-NrZthA5JiU8
VAPID_PRIVATE_KEY=KIV1Nl5eluwxYNTWc_CUTSAzls_BV4G9Dc3_iUmGKSQ

# 2. SUPABASE DATABASE & AUTH CREDENTIALS
NEXT_PUBLIC_SUPABASE_URL=https://mizbiarhnxzrpfuodqnj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pemJpYXJobnh6cnBmdW9kcW5qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0OTg3NTYsImV4cCI6MjEwNDA3NDc1Nn0.plMkDTZJ7wy2D6yLWtRmJU_gvJ9z-zZYXumbOlWHCrU
SUPABASE_SERVICE_ROLE_KEY=
